.info-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  color: #25274d;
  background-color: #aaabb8;
}

.info-card .icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #25274d;
}
